<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3"> Base de datos Tienda</h2>
          <ul class="text-center list-inline py-3">

            <li class="list-inline-tem">
              <a routerLink="" class="btn btn-info">Inicio</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/cliente" class="btn btn-info">List Clientes</a>
            </li>

          </ul>
        </div>
      </div>

      <router-outlet></router-outlet>
      <!-- <router-outlet> nos deja ingresar al link del router link -->
    </div>
  </div>
</div>
